<h1>Testing HTTP requests</h1>

<button (click)="getUsersById(3)">Make GET request with ID</button>
<button (click)="getUsers()">Make GET request</button>
<br>
<br>

<form>
  <input
    type="text"
    name="name"
    placeholder="Enter the name"
    [(ngModel)]="name"
    [ngModelOptions]="{ standalone: true }"
  >
  <input
    type="text"
    email="email"
    placeholder="Enter the email"
    [(ngModel)]="email"
    [ngModelOptions]="{ standalone: true }"
  >
  <input
    type="text"
    name="age"
    placeholder="Enter the age"
    [(ngModel)]="age"
    [ngModelOptions]="{ standalone: true }"
  >
  <br>
  <br>
  <button (click)="postUsers()">Make POST request</button>
</form>

<form>
  <input
    type="text"
    name="name"
    placeholder="Enter the name"
    [(ngModel)]="name"
    [ngModelOptions]="{ standalone: true }"
  >
  <input
    type="text"
    email="email"
    placeholder="Enter the email"
    [(ngModel)]="email"
    [ngModelOptions]="{ standalone: true }"
  >
  <input
    type="text"
    name="age"
    placeholder="Enter the age"
    [(ngModel)]="age"
    [ngModelOptions]="{ standalone: true }"
  >
  <br>
  <br>
  <button (click)="putUsers(1)">Make PUT request</button>
</form>

<button (click)="deleteUser(2)">Make DELETE request</button>

<button (click)="getUsersWithHeaders()">Make GET request with headers</button>
